.date-range-picker-input {
  width: 100%;
  min-width: 0;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
  min-width: 0;
}

.react-datepicker__tab-loop,
.react-datepicker-popper {
  z-index: 1200 !important; /* Higher than slider handles */
}

.react-datepicker__input-container input {
  width: 100%;
  min-width: 0;
}
